.projects-container {
  margin-bottom: 2rem;
}

.project-left,
.project-right {
  margin-left: 190px;
  margin-bottom: 5rem;
}

.project-container {
  display: flex;
}

.project-left img,
.project-right img {
  box-shadow: 10px 10px 25px #ccc;
  width: 50%;
}

.project-description {
  z-index: 100;
  box-shadow: 10px 10px 25px rgb(50, 50, 50);
  background-color: #0091ea;
  border-radius: 15px;
  width: 50%;
  /* height: 250px; */
  height: 110%;
  padding: 5px 5px 0 15px;
}

.button-group {
  margin-bottom: 10px;
}

.project-left > div > div {
  margin-top: -10px;
  margin-left: -70px;
}

.project-right > div > div {
  margin-top: -10px;
  margin-right: -70px;
}

.project-description p {
  color: white;
  font-size: 17px;
  line-height: 23px;
}

.project-description span {
  font-weight: bold;
}

.project-title {
  font-size: 1.5rem;
  text-shadow: 1px 1px #ff5823;
}

.project-right h1 {
  margin-right: 80px;
  text-align: right;
}

.project-description > div a {
  color: white;
  margin-right: 10px;
}

.project-description > div i:hover {
  transform: scale(1.2);
}

@media (max-width: 1280px) {
  .project-description p {
    font-size: 12px;
  }
}

@media (max-width: 980px) {
  .project-container {
    flex-wrap: wrap;
    margin-right: 20px;
  }

  .project-left img,
  .project-right img {
    width: 95%;
  }

  .project-right img {
    margin-top: 1rem;
  }

  .project-right h1 {
    margin-right: 50px;
    text-align: right;
  }

  .project-left,
  .project-right {
    margin-left: 15px;
    margin-bottom: 5rem;
  }

  .project-description p {
    font-size: 10px;
  }

  .project-description {
    width: 95%;
  }

  .project-left > div > div,
  .project-right > div > div {
    margin-top: 0px;
    margin-left: 0px;
  }
}
